/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: antiquewhite;
  display: grid;
  place-content: center;
  gap: 10px;
} */
